# dependencies
/node_modules

# build output
/build
/dist

# environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE files
.vscode/
*.code-workspace

# system files
.DS_Store
Thumbs.db
